body {
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #003300;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 24px;
    color: #003300;
    text-align: center;
    line-height: 70px;
    background: #ffffff;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: .5px solid white;
    border-bottom: 1px solid white;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #003300;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color:white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
.home{
    min-high: 100vh;
    display: flex;
    align-items: center;
    background: url(images/matchabackground1.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.home .content h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #3CB371;
}
.home .content p {
    color: #000000;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
    font-size: 1.5em;
}
section {
    padding: 2rem 7%;
}
.container {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2.5rem;
}
.container span {
    color: #3CB371;
    text-transform: uppercase;
}
.container h3{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 2.5rem;
}
.containers{
    color: #000000;
    font-size: 2rem;
    text-align: center;
}
.box {
    margin-top: 1rem;
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    width: 150px;
    height: 30px;
    border: 1px solid #ADD8E6;
    color: #000000;
    background-color: #ADD8E6;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.box:hover {
    letter-spacing: .2rem;
}
.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
}
.about .row img{
    width: 350px;
    height: 350px;
    padding: 0px 13px;
}
.about .content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2rem;
    align-items: center;
}
.about .content h3{
    font-size: 1.5rem;
    color: #000000;
    text-align: justify;
}
.about .content p{
    font-size: 1.2rem;
    color: #666;
    line-height: 1.8;
}
.menu {
    background-color: #F0FFF0;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}
.menu .box-container .boxes{
    padding: 5rem;
    text-align: center;
    border: 1px solid #fff;
    background-color: #fff;
    width: 350px;   
    height: 350px;
}
.menu .box-container .boxes img{
    height: 10rem;
}
.menu .box-container .boxes h5{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem;
}
.menu .box-container .boxes .price{
    color: #666;
    font-size: 1.2rem;
    padding: 2rem 0;
}
.menu .box-container .boxes .price span{
    color: #666;
    font-size: 0.9rem;
    text-decoration: line-through;
}
.menu .box-container .boxes:hover > *{
    color: #000000;
}
